<template>
    <div class="max-w-3xl xl:max-w-5xl mx-auto">
        <header class="text-5xl font-bold my-4">
            {{ article.title }}
        </header>
        <nuxt-content class="prose prose-sm lg:prose-lg xl:prose-xl max-w-none" :document="article" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    async asyncData ({ $content, params, error }) {
        const article = await $content('articles', params.slug)
            .fetch()
            .catch((err) => {
                error({ statusCode: 404, message: 'Artigo não encontrado' })
                console.error(err)
            })

        return { article }
    }
})
</script>

<style>

</style>
