<template>
    <div class="font-sans flex flex-col min-h-full">
        <Menu class="" />
        <div class="mx-5 flex-auto h-full ">
            <Nuxt />
        </div>
        <Footer class="footer" />
    </div>
</template>

<script>
export default {
    head: {
        bodyAttrs: {
            class: 'h-screen'
        },
        htmlAttrs: {
            class: 'h-full'
        }
    }
}
</script>

<style>

</style>
