<template>
    <!-- Do this with => https://splidejs.com/structure/ -->
    <div>
        <div>
            <ul>
                <li>Post 1</li>
                <li>Post 2</li>
                <li>Post 3</li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {}
</script>
