<template>
    <footer class="md:flex text-center items-center bg-gray-800 text-gray-100 py-2 mt-6 justify-center">
        <span class="text-gray-400 flex-grow font-bold text-lg pl-8 m-auto">
            Grêmio Estudantil Vinicíus de Moraes
        </span>
        <div class="flex flex-row mx-8 my-auto justify-center">
            <a class="w-12 h-12 p-2" href="https://www.instagram.com/ge.viniciusdemoraes/" title="Instagram"><Instagram /></a>
            <a class="w-12 h-12 p-2" href="https://twitter.com/GEVinciusDeMor1" title="Twitter"><Twitter /></a>
            <a class="w-12 h-12 p-2" href="https://www.youtube.com/channel/UCb4vtpxEThUK1aTIQdZP_EQ/featured" title="Youtube"><Youtube /></a>
        </div>
    </footer>
</template>

<script>
import Instagram from '@/assets/svg/instagram.svg'
import Twitter from '@/assets/svg/twitter.svg'
import Youtube from '@/assets/svg/youtube.svg'

export default {
    components: {
        Instagram,
        Twitter,
        Youtube
    }
}
</script>
