<template>
    <div class="flex flex-wrap sm:inline-flex w-full space-x-11 bg-blue3 text-white font-bold py-6 px-12 z-20 sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
        <div class="sm:hidden">
            <button class="block focus:outline-none" type="button" @click="isOpen = !isOpen">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                    <path v-if="isOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
                    <path v-if="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                </svg>
            </button>
        </div>
        <nav :class="isOpen ? 'block' : 'hidden'" class="sm:inline-flex space-x-11 sm:flex sm:p-0 w-full sm:w-auto">
            <NuxtLink class="hover:text-gray-800 mt-4 sm:mt-0" to="/">
                Home
            </NuxtLink>
            <NuxtLink class="hover:text-gray-800 mt-4 sm:mt-0" to="/about">
                Sobre
            </NuxtLink>
            <NuxtLink class="hover:text-gray-800 mt-4 sm:mt-0" to="/articles_list">
                Artigos
            </NuxtLink>
        </nav>
        <div class="flex-1 w-full" />
        <div class="font-cursive text-3xl block">
            VM
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            isOpen: false
        }
    }
}
</script>
