<template>
    <div class="max-w-3xl xl:max-w-5xl mx-auto">
        <header class="text-5xl font-bold my-4">
            {{ page.title }}
        </header>
        <nuxt-content class="prose prose-sm lg:prose-lg xl:prose-xl max-w-none" :document="page" />
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    async asyncData ({ $content }) {
        const page = await $content('about').fetch()
        return { page }
    },
    head: {
        title: 'Sobre nós'
    }
})
</script>

<style>

</style>
