<template>
    <div class="max-w-3xl xl:max-w-5xl mx-auto mt-5">
        <h1 class="text-3xl mb-4">
            Todos os Artigos
        </h1>
        <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5 bg-blue-100 rounded">
            <div
                v-for="article in articles"
                :key="article.slug"
            >
                <NuxtLink
                    :to="`/articles/${article.slug}`"
                    class="block max-w-sm rounded overflow-hidden shadow-lg bg-gray-100"
                >
                    <img
                        v-if="article.img"
                        :src="article.img"
                        :alt="article.imgAlt"
                        class="w-full max-h-52"
                    >
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">
                            {{ article.title }}
                        </div>
                        <p class="text-gray-700 text-base">
                            {{ article.description || '' }}
                        </p>
                    </div>
                </NuxtLink>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    async asyncData ({ $content }) {
        const articles = await $content('articles')
            .fetch()

        return { articles }
    }
})
</script>
