<template>
    <div class="">
        Grêmio Vinícius de Moraes
        <Carousel />
        <div>
            Conteudo Fechado para Balanceamento!
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    head: {
        title: 'Página Inicial'
    }
})
</script>
